<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sch">
	
   	<insert id="enrollSchedule" parameterType="sch">
    	INSERT INTO ENROLL_SCHEDULE
    	VALUES
    		(
    			SEQ_ENROLL_SCHEDULE.NEXTVAL,
    			#{userNo},
    			#{schTitle},
    			#{schStart},
    			#{schEnd},
    			#{schType},
    			#{schContent}
    		)
   	</insert>
   	
   	<select id="getPersonalList" resultType="sch">
   		 SELECT * FROM ENROLL_SCHEDULE
   		 WHERE SCH_TYPE = 'sch-common' AND USER_NO = #{useNo}
   	</select>
   	
   	<select id="getDeptList" resultType="sch">
   		 SELECT * FROM ENROLL_SCHEDULE
   		 WHERE SCH_TYPE = 'sch-dept' AND USER_NO = #{useNo}
   	</select>
   	
   	<select id="getCorpList" resultType="sch">
   		 SELECT * FROM ENROLL_SCHEDULE
   		 WHERE SCH_TYPE = 'sch-all' AND USER_NO = #{useNo}
   	</select>
	
	<update id="modifySch" parameterType="sch">
		UPDATE ENROLL_SCHEDULE SET
    	SCH_TITLE = #{schTitle},
    	SCH_START = #{schStart},
    	SCH_END = #{schEnd},
    	SCH_CONTENT = #{schContent}
    	WHERE SCH_NUM = #{schNum}
	</update>
	
</mapper>