<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="attend">
  <!-- resultMap -->
  		<!-- ATTENDANCE -->
	    <resultMap type="attendance" id="attendrm">
			<result property="attend_num" column="ATTEND_NUM"/>
			<result property="user_no" column="USER_NO"/>
			<result property="user_name" column="USER_NAME"/>
			<result property="attend_date" column="ATTEND_DATE"/>
			<result property="normal_check" column="NORMAL_CHECK"/>
			<result property="irregular_reason" column="IRREGULAR_REASON"/>
			<result property="work_numofdate" column="WORK_NUMOFDATE"/>
		</resultMap>
  
      	<!-- ATTENDANCEMODIFY -->
	    <resultMap type="attendancemod" id="attendmodrm">
			<result property="attend_mod_num" column="ATTEND_MOD_NUM"/>
			<result property="user_no" column="USER_NO"/>
			<result property="user_name" column="USER_NAME"/>
			<result property="req_date" column="REQ_DATE"/>
			<result property="mod_reason" column="MOD_REASON"/>
			<result property="attach_file" column="ATTACH_FILE"/>
			<result property="attach_file_size" column="ATTACH_FILE_SIZE"/>
			<result property="approve_state" column="APPROVE_STATE"/>
		</resultMap>
		
		<!-- WORKTIME -->
	    <resultMap type="attendancewt" id="attendwtrm">
			<result property="worktime_num" column="WORKTIME_NUM"/>
			<result property="user_no" column="USER_NO"/>
			<result property="in_time" column="IN_TIME"/>
			<result property="out_time" column="OUT_TIME"/>
			<result property="total_work_time" column="TOTAL_WORK_TIME"/>
		</resultMap>
		
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->	
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->	
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->			
  
  <!-- 근태메인 -->
  	   <!-- 임시데이터삽입 -->		
  	    <select id="getATseq" resultType="int">
	 		SELECT SEQ_ATTENDANCE.NEXTVAL
	 		FROM DUAL
	  	</select>
  	   
  	   <insert id="attendtempdatainsert" parameterType="attendance">
	  		INSERT INTO ATTENDANCE
	  		(
			    ATTEND_NUM,
			    USER_NO,
			    USER_NAME,
			    ATTEND_DATE,
			    NORMAL_CHECK,
			    IRREGULAR_REASON
	  		)
	  		VALUES
	  		(
	  			'0',
	  			#{user_no},
	  			'0',
	  			SYSDATE,
	  			'0',	  			
	  			'0'
	  		)
	  	</insert>
	  	<insert id="attendMODtempdatainserty" parameterType="attendancemod">
	  		INSERT INTO ATTENDANCEMODIFY
	  		(
			    ATTEND_MOD_NUM,
			    USER_NO,
			    USER_NAME,
			    REQ_DATE,
			    MOD_REASON,
			    ATTACH_FILE,
			    ATTACH_FILE_SIZE,
			    APPROVE_STATE
	  		)
	  		VALUES
	  		(
	  			'0',
	  			#{user_no},
	  			'0',
	  			SYSDATE,
	  			'0',
	  			'0',
	  			'0',
	  			'0'
	  		)
	  	</insert>
	  	<insert id="attendWTtempdatainsert" parameterType="attendancewt">
	  		INSERT INTO WORKTIME
	  		(
			    WORKTIME_NUM,
			    USER_NO,
			    ATTEND_DATE,
			    IN_TIME,
			    OUT_TIME,
			    TOTAL_WORK_TIME
	  		)
	  		VALUES
	  		(
	  			'0',
	  			#{user_no},
	  			SYSDATE,
	  			'0',
	  			'0',
	  			'0'
	  		)
	  	</insert>
  
  
  
  
  
  
  
  
  
	  <select id="getAttendInfo" parameterType="attendance" resultType="attendance" resultMap="attendrm">
		SELECT *
		FROM ATTENDANCE
		WHERE USER_NO = #{user_no}
		AND ATTEND_DATE = SYSDATE
	  </select>
	  	
	  <select id="getAttendModInfo" parameterType="attendancemod" resultType="attendancemod" resultMap="attendmodrm">
		SELECT *
		FROM ATTENDANCEMODIFY
		WHERE USER_NO = #{user_no}
	  </select>
	  	
	  <select id="getAttendWTInfo" parameterType="attendancewt" resultType="attendancewt" resultMap="attendwtrm">
		SELECT *
		FROM WORKTIME
		WHERE USER_NO = #{user_no}
	  </select>
	  	
	  <select id="attendmainscreen">
	  	SELECT A.ATTEND_DATE, A.WORK_NUMOFDATE, M.ATTEND_MOD_NUM, W.TOTAL_WORK_TIME
		FROM ATTENDANCE A
		INNER JOIN ATTENDANCEMODIFY M 
		ON(A.ATTEND_NUM = M.ATTEND_NUM)
		INNER JOIN WORKTIME W
		ON(M.ATTEND_NUM = W.ATTEND_NUM)
	  </select>
  
  <!-- 근태 출퇴근 -->  
  		<select id="getWTseq" resultType="int">
	 		SELECT SEQ_WORKTIME.NEXTVAL
	 		FROM DUAL
	  	</select>
  
  	  	<insert id="attendprocessIN" parameterType="attendancewt">
	  		INSERT INTO WORKTIME
	  		(
			    WORKTIME_NUM,
			    USER_NO,
			    ATTEND_DATE,
			    IN_TIME,
			    OUT_TIME,
			    TOTAL_WORK_TIME
	  		)
	  		VALUES
	  		(
	  			#{worktime_num},
	  			#{user_no},
	  			SYSDATE,
	  			TO_CHAR(SYSDATE,'HH24MISS'),
	  			'0',
	  			'0'
	  		)
	  	</insert>
	
	  	<update id="attendprocessOUT" parameterType="attendancewt">
	  		UPDATE ATTENDANCEMODIFY
	   		SET ATTACH_FILE = #{attach_file}
	   		WHERE ATTEND_MOD_NUM = #{attend_mod_num}
	  	</update>
  
  	
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->	
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->	
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->	
  	
  <!-- 근태조회 -->
      	<!-- 업무상황 수정요청 쿼리 -->
	 	<select id="getreq" resultType="int">
	 		SELECT SEQ_ATTENDANCEMODIFY.NEXTVAL
	 		FROM DUAL
	  	</select>
	 
	  	<insert id="modreq" parameterType="attendancemod">
	  		INSERT INTO ATTENDANCEMODIFY
	  		(
	  			ATTEND_MOD_NUM,
				USER_NO,
				USER_NAME,
				REQ_DATE,
				MOD_REASON,
				ATTACH_FILE,
				ATTACH_FILE_SIZE,
				APPROVE_STATE
	  		)
	  		VALUES
	  		(
	  			#{attend_mod_num},
	  			#{user_no},
	  			#{user_name},
	  			TO_CHAR(SYSDATE,'YYYYMMDD'),
	  			#{mod_reason},
	  			'첨부파일 없음',
	  			0,
	  			'처리중'
	  		)
	  	</insert>
	
	  	<update id="modfilereq" parameterType="attendancemod">
	  		UPDATE ATTENDANCEMODIFY
	   		SET ATTACH_FILE = #{attach_file},
	   		ATTACH_FILE_SIZE = #{attach_file_size}
	   		WHERE ATTEND_MOD_NUM = #{attend_mod_num}
	  	</update>
  	
  	
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->	
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->	
  <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->	 	
  	
  <!-- 근태관리 -->
		<!-- 업무상황 수정요청관리 쿼리 -->
	  	<select id="getModList" resultType="attendancemod" resultMap="attendmodrm">
			SELECT ATTEND_MOD_NUM, TO_CHAR(REQ_DATE,'YYYYMMDD') AS REQ_DATE, USER_NAME, MOD_REASON, ATTACH_FILE, APPROVE_STATE
			FROM ATTENDANCEMODIFY
			WHERE APPROVE_STATE != '0'
			ORDER BY ATTEND_MOD_NUM
		</select>
		
		<select id="getAttendModCnt" resultType="int">
			SELECT COUNT(ATTEND_MOD_NUM)
			FROM ATTENDANCEMODIFY
			WHERE APPROVE_STATE != '0'
		</select>
		
		<select id="getFile" resultType="attendancemod" resultMap="attendmodrm">
			SELECT ATTEND_MOD_NUM, ATTACH_FILE
			FROM ATTENDANCEMODIFY
			WHERE ATTEND_MOD_NUM = #{attend_mod_num}
		</select>

		<select id="downFile" resultType="attendancemod" resultMap="attendmodrm">
			SELECT *
			FROM ATTENDANCEMODIFY
			WHERE ATTACH_FILE = #{attach_file}
		</select>
  	
  		<!--수정요청 승인 혹은 거절 -->
  		<update id="approveManageOK" parameterType="attendancemod">
	  		UPDATE ATTENDANCEMODIFY
	   		SET APPROVE_STATE = '승인됨'
	   		WHERE ATTEND_MOD_NUM = #{attend_mod_num}
	  	</update>
	  	
	  	<update id="approveManageNone" parameterType="attendancemod">
	  		UPDATE ATTENDANCEMODIFY
	   		SET APPROVE_STATE = '반려됨'
	   		WHERE ATTEND_MOD_NUM = #{attend_mod_num}
	  	</update>
  	
  	
  	
  </mapper>