<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="attend">
  
  <!-- =================================================================== -->	
  <!-- =================================================================== -->		
  
	  <!-- resultMap -->
	  		<!-- ATTENDANCE -->
		    <resultMap type="attendance" id="attendrm">
				<result property="attend_num" column="ATTEND_NUM"/>
				<result property="user_no" column="USER_NO"/>
				<result property="user_name" column="USER_NAME"/>
				<result property="attend_date" column="ATTEND_DATE"/>
				<result property="normal_check" column="NORMAL_CHECK"/>
				<result property="irregular_reason" column="IRREGULAR_REASON"/>
				<result property="work_numofdate" column="WORK_NUMOFDATE"/>
			</resultMap>
	  
	      	<!-- ATTENDANCEMODIFY -->
		    <resultMap type="attendancemod" id="attendmodrm">
				<result property="attend_mod_num" column="ATTEND_MOD_NUM"/>
				<result property="user_no" column="USER_NO"/>
				<result property="user_name" column="USER_NAME"/>
				<result property="req_date" column="REQ_DATE"/>
				<result property="modify_req_date" column="MODIFY_REQ_DATE"/>				
				<result property="mod_reason" column="MOD_REASON"/>
				<result property="reject_reason" column="REJECT_REASON"/>
				<result property="attach_file" column="ATTACH_FILE"/>
				<result property="attach_file_size" column="ATTACH_FILE_SIZE"/>
				<result property="approve_state" column="APPROVE_STATE"/>
			</resultMap>
			
			<!-- WORKTIME -->
		    <resultMap type="attendancewt" id="attendwtrm">
				<result property="worktime_num" column="WORKTIME_NUM"/>
				<result property="user_no" column="USER_NO"/>
				<result property="attend_date" column="ATTEND_DATE"/>
				<result property="in_time" column="IN_TIME"/>
				<result property="out_time" column="OUT_TIME"/>
				<result property="workcheck" column="WORKCHECK"/>
				<result property="total_work_time" column="TOTAL_WORK_TIME"/>
			</resultMap>
		
  <!-- =================================================================== -->	
  <!-- =================================================================== -->			
  
  <!--근태관리 메인페이지 -->
  		<!-- 당일차 근태 테이블을 생성하는 SQL문-->
  	    <select id="getATseq" resultType="int">
	 		SELECT SEQ_ATTENDANCE.NEXTVAL
	 		FROM DUAL
	  	</select>
  	   
  	    <insert id="attendtempdatainsert" parameterType="attendance">
	  		INSERT INTO ATTENDANCE
	  		(
			    ATTEND_NUM,
			    USER_NO,
			    USER_NAME,
			    ATTEND_DATE,
			    NORMAL_CHECK,
			    IRREGULAR_REASON
	  		)
	  		VALUES
	  		(
	  			#{attend_num},
	  			#{user_no},
	  			#{user_name},
	  			SYSDATE,
	  			'근무정보없음',	  			
	  			'근무정보없음'
	  		)
	  	</insert>

	  	<insert id="attendWTtempdatainsert" parameterType="attendancewt">
	  		INSERT INTO WORKTIME
	  		(
			    WORKTIME_NUM,
			    USER_NO,
			    ATTEND_DATE,
			    IN_TIME,
			    OUT_TIME,
			    WORKCHECK,
			    TOTAL_WORK_TIME
	  		)
	  		VALUES
	  		(
	  			'0',
	  			#{user_no},
	  			SYSDATE,
	  			'0',
	  			'0',
	  			'근무정보없음',
	  			'0'
	  		)
	  	</insert>
	  		
  		<!-- =================================================================== -->			
  
  		<!-- 메인페이지 정보 출력 -->
  		<!-- 미승인 수정요청 건수 데이터를 조회하는 SQL문 -->
	  	<select id="getAttendInfo" parameterType="attendance" resultType="attendance" resultMap="attendrm">
			SELECT COUNT(ATTEND_NUM) AS "ATTEND_NUM"
			FROM ATTENDANCE
			WHERE USER_NO = #{user_no}
			AND NORMAL_CHECK != '정상근무'
	 	</select>
	 	
	 	<!-- 사용자 이름과 사번 데이터를 조회하는 SQL문 -->
	 	<select id="getAttendNumandName" parameterType="attendance" resultType="attendance" resultMap="attendrm">
			SELECT USER_NO, USER_NAME
			FROM ATTENDANCE
			WHERE USER_NO = #{user_no}
			AND USER_NAME = #{user_name}
	 	</select>
	 	
	 	<!-- 하루 전 메인페이지 정보를 출력하는 SQL문 (작동하지않음, 미사용)-->
	 	<select id="getPreAttendInfo" parameterType="attendancewt" resultType="attendancewt" resultMap="attendwtrm">
			SELECT *
			FROM WORKTIME
			WHERE USER_NO = #{user_no}
			AND TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE - 1,'YYYYMMDD')
	 	</select>
	 	
	 	<!-- 미승인 수정요청 건수 데이터를 조회하는 SQL문 -->
	  	<select id="getAttendModInfo" parameterType="attendancemod" resultType="attendancemod" resultMap="attendmodrm">
			SELECT COUNT(*) AS ATTEND_MOD_NUM
			FROM ATTENDANCEMODIFY
			WHERE USER_NO = #{user_no}
			AND TO_CHAR(REQ_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
			AND APPROVE_STATE != '승인됨'
	  	</select>
	  	
	  	<!-- 출퇴근 시간 테이블의 데이터를 조회하는 SQL문 -->
	  	<select id="getAttendWTInfo" parameterType="attendancewt" resultType="attendancewt" resultMap="attendwtrm">
			SELECT 
			WORKTIME_NUM, 
			USER_NO, 
			ATTEND_DATE, 
			REGEXP_REPLACE(IN_TIME, '(.{2})(.{2})(.{2})', '\1시 \2분 \3초') AS IN_TIME, 
			REGEXP_REPLACE(OUT_TIME, '(.{2})(.{2})(.{2})', '\1시 \2분 \3초') AS OUT_TIME, 
			WORKCHECK, 
			ROUND(TOTAL_WORK_TIME / 3600, 3) AS TOTAL_WORK_TIME
			FROM WORKTIME
			WHERE USER_NO = #{user_no}
			AND TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	 	</select>
	 	
	 	<!-- 총 근무시간 데이터를 조회하는 SQL문 -->
	 	<select id="getWTTWTInfo" parameterType="attendancewt" resultType="attendancewt" resultMap="attendwtrm">
			SELECT
			TO_CHAR(ATTEND_DATE,'MM') AS ATTEND_DATE,
			ROUND(SUM(TOTAL_WORK_TIME) / 3600, 3) AS TOTAL_WORK_TIME
			FROM WORKTIME
			WHERE USER_NO = #{user_no}
			AND 
			TO_CHAR(ATTEND_DATE,'MM') =
			CASE 
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '01' THEN '01'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '02' THEN '02'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '03' THEN '03'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '04' THEN '04'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '05' THEN '05'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '06' THEN '06'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '07' THEN '07'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '08' THEN '08'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '09' THEN '09'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '10' THEN '10'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '11' THEN '11'
			WHEN TO_CHAR(ATTEND_DATE,'MM') = '12' THEN '12'
			END
			GROUP BY TO_CHAR(ATTEND_DATE,'MM')			
	 	</select>
	 	
	  	<!-- =================================================================== -->
	  	<!-- =================================================================== -->	

	  	<!-- 근태 테이블 모두를 조인하여 데이터를 조회하는 구문 (미사용) -->
		<select id="attendmainscreen">
			SELECT A.ATTEND_DATE, A.WORK_NUMOFDATE, M.ATTEND_MOD_NUM, W.TOTAL_WORK_TIME
			FROM ATTENDANCE A
			INNER JOIN ATTENDANCEMODIFY M 
			ON(A.ATTEND_NUM = M.ATTEND_NUM)
			INNER JOIN WORKTIME W
			ON(M.ATTEND_NUM = W.ATTEND_NUM)
		</select>
  
  	  	<!-- =================================================================== -->
	  	<!-- =================================================================== -->	
  
  		<!-- 출퇴근처리 -->  
  		<select id="getWTseq" resultType="int">
	 		SELECT SEQ_WORKTIME.NEXTVAL
	 		FROM DUAL
	  	</select>

  	  	<update id="attendprocessIN" parameterType="attendancewt">
	   		UPDATE WORKTIME
	   		SET 
	   		WORKTIME_NUM = #{worktime_num},
	   		IN_TIME = TO_CHAR(SYSDATE,'HH24MISS'),
	   		WORKCHECK = 
	   		CASE
			     WHEN TO_NUMBER(TO_CHAR(SYSDATE,'HH24MISS')) <![CDATA[<]]> 080000 THEN '정상출근처리'
			     WHEN TO_NUMBER(TO_CHAR(SYSDATE,'HH24MISS')) > 080000 THEN '지각출근처리'
			END
	   		WHERE WORKTIME_NUM = 0
	  	</update>
	  	
	  	<update id="attendprocessINAttend" parameterType="attendancewt">
		   	UPDATE ATTENDANCE
			SET 
			NORMAL_CHECK =
			CASE
			     WHEN TO_NUMBER(TO_CHAR(SYSDATE,'HH24MISS')) <![CDATA[<]]> 080000 THEN '정상출근'
			     WHEN TO_NUMBER(TO_CHAR(SYSDATE,'HH24MISS')) > 080000 THEN '지각'
			END
			WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	  	</update>
	    <update id="attendprocessINAttend2" parameterType="attendancewt">
		   	UPDATE ATTENDANCE
			SET 
			IRREGULAR_REASON = 
			CASE
			     WHEN NORMAL_CHECK = '정상출근' THEN '이상없음'
			     WHEN NORMAL_CHECK = '지각' THEN '이상근무(지각)'
			END
			WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	  	</update>
	  	
	  	<update id="attendprocessOUT" parameterType="attendancewt">
	   		UPDATE WORKTIME
	   		SET 
	   		OUT_TIME = TO_CHAR(SYSDATE,'HH24MISS'),
	   		WORKCHECK =
	   		CASE
			     WHEN TO_NUMBER(TO_CHAR(SYSDATE,'HH24MISS')) <![CDATA[<]]> 080000 THEN '정상퇴근처리'
			     WHEN TO_NUMBER(TO_CHAR(SYSDATE,'HH24MISS')) > 080000 THEN '지각퇴근처리'
			END
	   		WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	  	</update>
	  	
	  	<update id="attendprocessOUT2" parameterType="attendancewt">
	   		UPDATE WORKTIME
	   		SET 
	   		TOTAL_WORK_TIME = 
	   		(
				(SUBSTR(OUT_TIME, 1, 2) * 3600)
				+
				(SUBSTR(OUT_TIME, 3, 2) * 60)
				+
				(SUBSTR(OUT_TIME, 5, 2) * 1)
			)
			
			-
			
			(
				(SUBSTR(IN_TIME, 1, 2) * 3600)
				+
				(SUBSTR(IN_TIME, 3, 2) * 60)
				+
				(SUBSTR(IN_TIME, 5, 2) * 1)
			)
	   		WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	  	</update>
	  	
	  	<update id="attendprocessOUTAttend" parameterType="attendancewt">
	   		UPDATE ATTENDANCE
			SET 
			NORMAL_CHECK = 
			CASE
			     WHEN NORMAL_CHECK = '정상출근' THEN '정상근무'
			     WHEN NORMAL_CHECK = '지각' THEN '지각'
			END
			WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	  	</update>
	  	
	  	<update id="attendprocessOUTAttend2" parameterType="attendancewt">
	   		UPDATE ATTENDANCE
			SET
			IRREGULAR_REASON = 
			CASE
			     WHEN NORMAL_CHECK = '정상근무' THEN '이상없음'
			     WHEN NORMAL_CHECK = '지각' THEN '이상근무(지각)'
			END
			WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	  	</update>
	  	
	  	<update id="attendprocessReIN" parameterType="attendancewt">
	   		UPDATE WORKTIME
	   		SET 
	   		WORKCHECK = 
	   		CASE
			     WHEN WORKCHECK = '정상퇴근처리' THEN '정상출근처리(재)'
			     WHEN WORKCHECK = '지각퇴근처리' THEN '지각출근처리(재)'
			END
	   		WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD') 
	  	</update>
	  	
	  	<update id="attendprocessReOUT" parameterType="attendancewt">
	   		UPDATE WORKTIME
	   		SET 
	   		OUT_TIME = TO_CHAR(SYSDATE,'HH24MISS'),
	   		WORKCHECK = 
	   		CASE
			     WHEN WORKCHECK = '정상출근처리(재)' THEN '정상퇴근처리'
			     WHEN WORKCHECK = '지각출근처리(재)' THEN '지각퇴근처리'
			END,
	   		TOTAL_WORK_TIME = 
	   		(
				SUBSTR(OUT_TIME, 1, 2) * 60 * 60 +
				SUBSTR(OUT_TIME, 3, 2) * 60 +
				SUBSTR(OUT_TIME, 5, 2)
			)
			
			-
			
			(
				SUBSTR(IN_TIME, 1, 2) * 60 * 60 +
				SUBSTR(IN_TIME, 3, 2) * 60 +
				SUBSTR(IN_TIME, 5, 2)
			)
	   		WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
	  	</update>
	  	
	  	<!-- =================================================================== -->	
  
  	<!-- 근태현황 조회페이지 -->
  		<!-- 캘린더 -->
  	
      	<!-- 근태현황 수정요청 -->
	 	<select id="getreq" resultType="int">
	 		SELECT SEQ_ATTENDANCEMODIFY.NEXTVAL
	 		FROM DUAL
	  	</select>
	 
	  	<insert id="modreq" parameterType="attendancemod">
	  		INSERT INTO ATTENDANCEMODIFY
	  		(
	  			ATTEND_MOD_NUM,
				USER_NO,
				USER_NAME,
				REQ_DATE,
				MODIFY_REQ_DATE,
				MOD_REASON,
				REJECT_REASON,
				ATTACH_FILE,
				ATTACH_FILE_SIZE,
				APPROVE_STATE
	  		)
	  		VALUES
	  		(
	  			#{attend_mod_num},
	  			#{user_no},
	  			#{user_name},
	  			TO_CHAR(SYSDATE,'YYYYMMDD'),
	  			CONCAT(CONCAT(SUBSTR(#{modify_req_date}, 1, 4), SUBSTR(#{modify_req_date}, 7, 2)), SUBSTR(#{modify_req_date}, 11, 2)),
	  			#{mod_reason},
	  			'내용없음',
	  			'첨부파일 없음',
	  			0,
	  			'처리중'
	  		)
	  	</insert>
	
	  	<update id="modfilereq" parameterType="attendancemod">
	  		UPDATE ATTENDANCEMODIFY
	   		SET ATTACH_FILE = #{attach_file},
	   		ATTACH_FILE_SIZE = #{attach_file_size}
	   		WHERE ATTEND_MOD_NUM = #{attend_mod_num}
	  	</update>
	  	
	  	<!-- 일일 근태현황조회 -->
	  	<select id="getAllAttendINfo" parameterType="attendance" resultType="attendance" resultMap="attendrm">
			SELECT USER_NO, USER_NAME
			FROM ATTENDANCE
			WHERE USER_NO = #{user_no}
		</select>
		
		<select id="getAllAttendWTInfo" parameterType="attendancewt" resultType="attendancewt" resultMap="attendwtrm">
			SELECT 
			REGEXP_REPLACE(TO_CHAR(ATTEND_DATE,'YYYYMMDD'), '(.{4})(.{2})(.{2})', '\1년 \2월 \3일') AS ATTEND_DATE, 
			REGEXP_REPLACE(IN_TIME, '(.{2})(.{2})(.{2})', '\1시 \2분 \3초') AS IN_TIME, 
			REGEXP_REPLACE(OUT_TIME, '(.{2})(.{2})(.{2})', '\1시 \2분 \3초') AS OUT_TIME,
			WORKCHECK
			FROM WORKTIME
			WHERE USER_NO = #{user_no}
		</select>
		
		<!-- 일일 근태현황 페이징처리 -->
		<select id="getAttendStateCnt" resultType="int">
			SELECT COUNT(WORKTIME_NUM)
			FROM WORKTIME	
		</select>
		
		<select id="getWorktimeList" resultMap="attendwtrm">
			SELECT * 
			FROM
			(
			    SELECT ROWNUM RN, WT.* 
			    FROM
			    (
			        SELECT
			        WORKTIME_NUM,
			        REGEXP_REPLACE(TO_CHAR(ATTEND_DATE,'YYYYMMDD'), '(.{4})(.{2})(.{2})', '\1년 \2월 \3일') AS ATTEND_DATE, 
			        REGEXP_REPLACE(IN_TIME, '(.{2})(.{2})(.{2})', '\1시 \2분 \3초') AS IN_TIME, 
		            REGEXP_REPLACE(OUT_TIME, '(.{2})(.{2})(.{2})', '\1시 \2분 \3초') AS OUT_TIME,
			        WORKCHECK
			        FROM WORKTIME
			        WHERE USER_NO = #{userNo}
			        ORDER BY WORKTIME_NUM
			    ) WT
			)
			WHERE RN BETWEEN #{startRow} AND #{endRow}			
		</select>
		
		<!-- 내수정요청 전체 조회 -->
	  	<select id="getMyModList" resultType="attendancemod" resultMap="attendmodrm">
			SELECT ATTEND_MOD_NUM, TO_CHAR(REQ_DATE,'YYYYMMDD') AS REQ_DATE, USER_NAME, MOD_REASON, ATTACH_FILE, APPROVE_STATE, TO_CHAR(MODIFY_REQ_DATE,'YYYYMMDD') AS MODIFY_REQ_DATE
			FROM ATTENDANCEMODIFY
			WHERE USER_NO = #{user_no}
			ORDER BY ATTEND_MOD_NUM
		</select>
		
		<!-- 내수정요청 조건 조회 -->
	  	<select id="getModListSearch" resultType="attendancemod" resultMap="attendmodrm">
			SELECT ATTEND_MOD_NUM, TO_CHAR(REQ_DATE,'YYYYMMDD') AS REQ_DATE, USER_NAME, MOD_REASON, ATTACH_FILE, APPROVE_STATE, TO_CHAR(MODIFY_REQ_DATE,'YYYYMMDD') AS MODIFY_REQ_DATE
			FROM ATTENDANCEMODIFY
			WHERE USER_NO = #{user_no}
			AND APPROVE_STATE = #{approve_state}
			ORDER BY ATTEND_MOD_NUM
		</select>

		<!-- 반려사유보기 -->
		<select id="getrejectReason" resultType="attendancemod" resultMap="attendmodrm">
			SELECT USER_NAME, TO_CHAR(REQ_DATE,'YYYYMMDD') AS REQ_DATE, TO_CHAR(MODIFY_REQ_DATE,'YYYYMMDD') AS MODIFY_REQ_DATE, REJECT_REASON, APPROVE_STATE
			FROM ATTENDANCEMODIFY
			WHERE ATTEND_MOD_NUM = #{attend_mod_num}
		</select>

	  	<!-- =================================================================== -->
  		<!-- =================================================================== -->
  	
  <!-- 근태관리 -->
		<!-- 수정요청 조회 -->
	  	<select id="getModList" resultType="attendancemod" resultMap="attendmodrm">
			SELECT ATTEND_MOD_NUM, TO_CHAR(REQ_DATE,'YYYYMMDD') AS REQ_DATE, USER_NAME, MOD_REASON, ATTACH_FILE, APPROVE_STATE, TO_CHAR(MODIFY_REQ_DATE,'YYYYMMDD') AS MODIFY_REQ_DATE
			FROM ATTENDANCEMODIFY
			WHERE APPROVE_STATE != '승인됨'
			AND APPROVE_STATE != '반려됨'
			ORDER BY ATTEND_MOD_NUM
		</select>
		
		<select id="getAttendModCnt" resultType="int">
			SELECT COUNT(ATTEND_MOD_NUM)
			FROM ATTENDANCEMODIFY
			WHERE APPROVE_STATE != '승인됨'
		</select>
		
		<!-- 첨부파일 조회-출력 -->
		<select id="getFile" resultType="attendancemod" resultMap="attendmodrm">
			SELECT ATTEND_MOD_NUM, ATTACH_FILE
			FROM ATTENDANCEMODIFY
			WHERE ATTEND_MOD_NUM = #{attend_mod_num}
		</select>

		<select id="downFile" resultType="attendancemod" resultMap="attendmodrm">
			SELECT *
			FROM ATTENDANCEMODIFY
			WHERE ATTACH_FILE = #{attach_file}
		</select>
  	
  		<!-- 수정요청처리 -->
  		<update id="approveManageOK" parameterType="attendancemod">
	  		UPDATE ATTENDANCEMODIFY
	   		SET APPROVE_STATE = '승인됨'
	   		WHERE ATTEND_MOD_NUM = #{attend_mod_num}
	  	</update>
	  	
	  	<update id="approveManageOKAT" parameterType="attendance">
			UPDATE ATTENDANCE
			SET
			NORMAL_CHECK = '정상근무',
			IRREGULAR_REASON = '이상없음'
			WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = #{modify_req_date}
	  	</update>
	  	
	  	<update id="approveManageOKWT" parameterType="attendancewt">
			UPDATE WORKTIME
			SET
 			WORKCHECK = '정상퇴근처리'
			WHERE TO_CHAR(ATTEND_DATE,'YYYYMMDD') = #{modify_req_date}
	  	</update>
	  	
	  	<update id="approveManageNone" parameterType="attendancemod">
	  		UPDATE ATTENDANCEMODIFY
	   		SET 
	   		APPROVE_STATE = '반려됨',
	   		REJECT_REASON = #{reject_reason}
	   		WHERE ATTEND_MOD_NUM = #{attend_mod_num}
	  	</update>
  	
  		<!-- =================================================================== -->
  		<!-- =================================================================== -->
  	
  </mapper>