@charset "UTF-8";
.levelAddLink {
	color : blue;
}

.levelAddLink:hover {
	color : blue;
	cursor: pointer;
}

.jobAdd {
	color : blue;
}

.jobAdd:hover {
	color : blue;
	cursor: pointer;
}

.posi-hidden{
	visibility: hidden;
	display: none;
}

.posi-element{
	font-size: 20px;
	font-weight: 600;
	margin-right:10px;
}

.job-element{
	color:white;
	font-size: 20px;
	font-weight: 600;
}

.col-row{
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
	padding-top: 10px;
}

.clicklink:hover{
	cursor: pointer;
}