@charset "UTF-8";
.back {
	background-color: white;
	border: 1px solid black;
}

.box {
    width: 100px;
    height: 100px; 
    border-radius: 70%;
    overflow: hidden;
    background-color: #BDBDBD;
    margin-left: 100px;
}


.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box1 {
    width: 200px;
    height: 200px; 
    border-radius: 70%;
    overflow: hidden;
    background-color: #BDBDBD;
    margin-left: 80px;
}


.overflow {
	overflow-x:hidden; 
	overflow-y:scroll; 
	height:650px;
}

.clickUser:hover{
	cursor: pointer;
}

.info {
	font-size: 18px;
}

.textspan{
	margin-left : 10px;
}

.hidden{
	display: none;
}
.tree button {
	margin-left:25px; background:transparent; border:0;
}
.tree ul {
	display:none; padding-left:17px;
}
.tree {
	padding-top: 20px;
	padding-bottom: 20px;
}
.tree li.unfold>ul {
	display:block;
}
.tree li {
	position:relative; 
	padding-left:10px; 
	border-left:1px solid #ccc; 
	min-height:23px; 
	line-height:23px;
}
.tree li::before,.tree li::after {
	content:''; position:absolute;
}
.tree li::before {
	top:10px; left:0; width:17px; height:0; border-bottom:1px solid #ccc;
}
.tree>li:first-child::after {
	top:0; left:-1px; width:1px; height:10px; background:#fff;
}
.tree li.last::after {
	top:11px; left:-1px; width:1px; height:100%; background:#fff;
}
.tree li span {
	position:absolute; 
	top:4px; 
	left:17px; 
	width:17px; 
	height:17px; 
	background:#eee; 
	text-align:center; 
	line-height:17px; 
	cursor:pointer; 
	color:#333; 
	border:1px solid #ccc;
}
.tree li.final span {
	cursor:default;
	top:10px; left:17px; 
	width:17px; 
	height:0; 
	border:none;
	border-bottom:1px solid #ccc;
	background:#fff;
}
.tree li span::before {
	content:'+';
}
.tree li.unfold>span::before {
	content:'-';
}
.tree li.final span::before {
	content:'';
	
}