<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="resv">
  
  		<!-- 예약관리 -->
  		<select id="getRoomList" parameterType="map" resultType="room">
  			SELECT * FROM MEETING_ROOM
  			WHERE DELETE_YN = 'N'
  		</select>
  		
  		<select id="getAssetList" parameterType="map" resultType="asset">
  			SELECT * FROM ASSET
  			WHERE DELETE_YN = 'N'
  		</select>
  		
  		<insert id="insertRoom">
  			INSERT INTO MEETING_ROOM(
  				  ROOM_NO
  				, ROOM_NAME
  				, DETAIL
  				, ACTIVATE_YN
  				, RESERVED
  				, CREATE_DATE
  				, DELETE_YN
  			)VALUES(
  				  SEQ_MEETING_ROOM.NEXTVAL
  				, #{roomName}
  				, #{detail}
  				, #{activateYn}
  				, DEFAULT
  				, SYSDATE
  				, DEFAULT
  			)
  		</insert>
  		
  		<insert id="insertAsset">
  			INSERT INTO ASSET(
  				  ASSET_NO
  				, ASSET_NAME
  				, DETAIL
  				, ACTIVATE_YN
  				, RESERVED
  				, CREATE_DATE
  				, DELETE_YN
  			)VALUES(
  				  SEQ_ASSET.NEXTVAL
  				, #{assetName}
  				, #{detail}
  				, #{activateYn}
  				, DEFAULT
  				, SYSDATE
  				, DEFAULT
  			)
  		</insert>
  		
  		<update id="updateRoom">
  			UPDATE MEETING_ROOM
  			SET
  				      ROOM_NO = #{roomNo}
  				<if test="roomName != null and roomName != '' ">
  					, ROOM_NAME = #{roomName}
  				</if>
  				<if test="detail != null and detail != '' ">
  					, DETAIL = #{detail}
  				</if>
  				<if test="activateYn != null and activateYn != '' ">
	  				, ACTIVATE_YN = #{activateYn}
  				</if>
  					, RESERVED = #{reserved}
  					, MOD_DATE = SYSDATE	
  			WHERE ROOM_NO = #{roomNo}	
  		</update>
  		
  		<update id="updateAsset">
  			UPDATE ASSET
  			SET
  				  ASSET_NO = #{assetNo}
  				<if test="assetName != null and assetName != '' ">  
  					, ASSET_NAME = #{assetName}	
				</if>
				<if test="detail != null and detail != '' ">
  					, DETAIL = #{detail}
  				</if>
  				<if test="activateYn != null and activateYn != '' ">
	  				, ACTIVATE_YN = #{activateYn}
  				</if>
  				<if test="reserved != null and reserved != '' ">
  					, RESERVED = #{reserved}
  				</if>
  					, MOD_DATE = SYSDATE	
  			WHERE ASSET_NO = #{assetNo}	
  		</update>
  		
  		<update id="deleteRoom">
  			UPDATE MEETING_ROOM
  			SET 
  				DELETE_YN = 'Y'
  			WHERE ROOM_NO = #{roomNo}
  		</update>
  		
  		<update id="deleteAsset" parameterType="int">
  			UPDATE ASSET
  			SET 
  				DELETE_YN = 'Y'
  			WHERE ASSET_NO = #{assetNo}
  		</update>
  		
  		<!-- 내예약페이지 -->
  		<select id="getRoomResvList" resultType="resv">
  			SELECT 
				  R.RESV_NO
				, R.USER_NO 
				, R.ROOM_NO
				, M.ROOM_NAME
				, TO_CHAR(R.RESV_START, 'YYYY-MM-DD"T"HH24:MI:SS') RESV_START
				, TO_CHAR(R.RESV_END, 'YYYY-MM-DD"T"HH24:MI:SS') RESV_END
				, R.CREATE_DATE
				, R.MOD_DATE
				, R.RETURN_YN
				, R.DELETE_YN
			FROM RESERVATION R
			JOIN MEETING_ROOM M ON (M.ROOM_NO = R.ROOM_NO)
  			WHERE R.USER_NO = #{userNo}
  		</select>
  		
  		<select id="getAssetResvList" resultType="resv">
  			SELECT 
  				  R.RESV_NO
				, R.USER_NO 
				, R.ASSET_NO
				, A.ASSET_NAME
				, TO_CHAR(R.RESV_START, 'YYYY-MM-DD"T"HH24:MI:SS') RESV_START
				, TO_CHAR(R.RESV_END, 'YYYY-MM-DD"T"HH24:MI:SS') RESV_END
				, R.CREATE_DATE
				, R.MOD_DATE
				, R.RETURN_YN
				, R.DELETE_YN
  			FROM RESERVATION R
  			JOIN ASSET A ON (A.ASSET_NO = R.ASSET_NO)
  			WHERE R.USER_NO = #{userNo}
  		</select>
  		
  		<select id="getAllResvList" resultType="resv">
  			SELECT * FROM RESERVATION
  			WHERE DELETE_YN = 'N'
  		</select>
  		
  		<insert id="insertResv">
  			<if test="roomNo != null and roomNo != '' ">
	  			INSERT INTO RESERVATION (
	  				  RESV_NO
	  				, USER_NO
	  				, ROOM_NO
	  				, RESV_START
					, RESV_END
	  				, CREATE_DATE
	  			)VALUES(
	  				  SEQ_RESERVATION.NEXTVAL
	  				, #{userNo}
		  			, #{roomNo}
	  				, TO_CHAR(#{resvStart}, 'YYYY-MM-DD HH24:MI')
	  				, TO_CHAR(#{resvEnd}, 'YYYY-MM-DD HH24:MI')
	  				, SYSDATE
	  			)
  			</if>
  			<if test="assetNo != null and assetNo != '' ">
	  			INSERT INTO RESERVATION (
	  				  RESV_NO
	  				, USER_NO
	  				, ASSET_NO
	  				, RESV_START
					, RESV_END
	  				, CREATE_DATE
	  			)VALUES(
	  				  SEQ_RESERVATION.NEXTVAL
	  				, #{userNo}
		  			, #{assetNo}
		  			, TO_CHAR(#{resvStart}, 'YYYY-MM-DD HH24:MI:SS')
	  				, TO_CHAR(#{resvEnd}, 'YYYY-MM-DD HH24:MI:SS')
	  				, SYSDATE
	  			)
  			</if>
  		</insert>
  		
  		
  		
  		
  </mapper>