<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="resv">
  
  		<!-- 예약관리 -->
  		<select id="getRoomList" parameterType="map" resultType="room">
  			SELECT * FROM MEETING_ROOM
  			WHERE DELETE_YN = 'N'
  		</select>
  		
  		<select id="getAssetList" parameterType="map" resultType="asset">
  			SELECT * FROM ASSET
  			WHERE DELETE_YN = 'N'
  		</select>
  		
  		<insert id="insertRoom">
  			INSERT INTO MEETING_ROOM(
  				  ROOM_NO
  				, ROOM_NAME
  				, DETAIL
  				, ACTIVATE_YN
  				, RESERVED
  				, CREATE_DATE
  				, DELETE_YN
  			)VALUES(
  				  SEQ_MEETING_ROOM.NEXTVAL
  				, #{roomName}
  				, #{detail}
  				, #{activateYn}
  				, DEFAULT
  				, CURRENT_DATE	
  				, DEFAULT
  			)
  		</insert>
  		
  		<insert id="insertAsset">
  			INSERT INTO ASSET(
  				  ASSET_NO
  				, ASSET_NAME
  				, DETAIL
  				, ACTIVATE_YN
  				, RESERVED
  				, CREATE_DATE
  				, DELETE_YN
  			)VALUES(
  				  SEQ_ASSET.NEXTVAL
  				, #{assetName}
  				, #{detail}
  				, #{activateYn}
  				, DEFAULT
  				, CURRENT_DATE	
  				, DEFAULT
  			)
  		</insert>
  		
  		<update id="updateRoom">
  			UPDATE MEETING_ROOM
  			SET
  				      ROOM_NO = #{roomNo}
  				<if test="roomName != null and roomName != '' ">
  					, ROOM_NAME = #{roomName}
  				</if>
  				<if test="detail != null and detail != '' ">
  					, DETAIL = #{detail}
  				</if>
  				<if test="activateYn != null and activateYn != '' ">
	  				, ACTIVATE_YN = #{activateYn}
  				</if>
  					, RESERVED = #{reserved}
  					, MOD_DATE = CURRENT_DATE		
  			WHERE ROOM_NO = #{roomNo}	
  		</update>
  		
  		<update id="updateAsset">
  			UPDATE ASSET
  			SET
  				  ASSET_NO = #{assetNo}
  				<if test="assetName != null and assetName != '' ">  
  					, ASSET_NAME = #{assetName}	
				</if>
				<if test="detail != null and detail != '' ">
  					, DETAIL = #{detail}
  				</if>
  				<if test="activateYn != null and activateYn != '' ">
	  				, ACTIVATE_YN = #{activateYn}
  				</if>
  				<if test="reserved != null and reserved != '' ">
  					, RESERVED = #{reserved}
  				</if>
  					, MOD_DATE = CURRENT_DATE	
  			WHERE ASSET_NO = #{assetNo}	
  		</update>
  		
  		<update id="deleteRoom">
  			UPDATE MEETING_ROOM
  			SET 
  				DELETE_YN = 'Y'
  			WHERE ROOM_NO = #{roomNo}
  		</update>
  		
  		<update id="deleteAsset" parameterType="int">
  			UPDATE ASSET
  			SET 
  				DELETE_YN = 'Y'
  			WHERE ASSET_NO = #{assetNo}
  		</update>
  		
  		<!-- 내예약페이지 -->
  		<select id="getMyResvList" resultType="resv">
  			SELECT * FROM (	
 				SELECT ROWNUM RN, MY.*
 				FROM(
	  			SELECT 
					  R.RESV_NO
					, R.USER_NO 
					, M.ROOM_NO
					, M.ROOM_NAME
					, A.ASSET_NO
					, A.ASSET_NAME
					, TO_CHAR(R.RESV_START, 'YYYY-MM-DD"T"HH24:MI:SS')
					, TO_CHAR(R.RESV_END, 'YYYY-MM-DD"T"HH24:MI:SS')
					, R.RESV_START
					, R.RESV_END
					, R.CREATE_DATE
					, R.MOD_DATE
					, R.RETURN_YN
					, R.DELETE_YN
				FROM RESERVATION R
				LEFT OUTER JOIN ASSET A ON (R.ASSET_NO = A.ASSET_NO)
				LEFT OUTER JOIN MEETING_ROOM M ON (R.ROOM_NO = M.ROOM_NO)
				WHERE R.USER_NO = #{userNo} AND R.DELETE_YN = 'N'
				ORDER BY R.RESV_START DESC
				) MY
  			) WHERE RN BETWEEN #{vo.startRow} AND #{vo.endRow}
  		</select>
  	
  		<select id="getAllRoomResvList" resultType="resv">
  			SELECT 
				  R.RESV_NO
				, R.USER_NO 
				, M.ROOM_NO
				, M.ROOM_NAME
				, TO_CHAR(R.RESV_START, 'YYYY-MM-DD"T"HH24:MI:SS') RESV_START
				, TO_CHAR(R.RESV_END, 'YYYY-MM-DD"T"HH24:MI:SS') RESV_END
				, R.CREATE_DATE
				, R.MOD_DATE
				, R.RETURN_YN
				, R.DELETE_YN
			FROM RESERVATION R
			JOIN MEETING_ROOM M ON (R.ROOM_NO = M.ROOM_NO)
			WHERE R.DELETE_YN = 'N'
  		</select>
  		
  		<select id="getAllAssetResvList" resultType="resv">
  			SELECT 
				  R.RESV_NO
				, R.USER_NO 
				, A.ASSET_NO
				, A.ASSET_NAME
				, TO_CHAR(R.RESV_START, 'YYYY-MM-DD"T"HH24:MI:SS') RESV_START
				, TO_CHAR(R.RESV_END, 'YYYY-MM-DD"T"HH24:MI:SS') RESV_END
				, R.CREATE_DATE
				, R.MOD_DATE
				, R.RETURN_YN
				, R.DELETE_YN
			FROM RESERVATION R
			JOIN ASSET A ON (R.ASSET_NO = A.ASSET_NO)
			WHERE R.DELETE_YN = 'N'
  		</select>
  		
  		<insert id="insertResv">
  			<if test="roomNo != null and roomNo != '' ">
	  			INSERT INTO RESERVATION (
	  				  RESV_NO
	  				, USER_NO
	  				, ROOM_NO
	  				, CREATE_DATE
	  				, RESV_START
					, RESV_END
	  			)VALUES(
	  				  SEQ_RESERVATION.NEXTVAL
	  				, #{userNo}
		  			, #{roomNo}
		  			, CURRENT_DATE
	  				, TO_DATE(#{resvStart}, 'YYYY-MM-DD HH24:MI')
	  				, TO_DATE(#{resvEnd}, 'YYYY-MM-DD HH24:MI')
	  			)
  			</if>
  			<if test="assetNo != null and assetNo != '' ">
	  			INSERT INTO RESERVATION (
	  				  RESV_NO
	  				, USER_NO
	  				, ASSET_NO
	  				, CREATE_DATE
	  				, RESV_START
					, RESV_END
	  			)VALUES(
	  				  SEQ_RESERVATION.NEXTVAL
	  				, #{userNo}
		  			, #{assetNo}
		  			, CURRENT_DATE
		  			, TO_DATE(#{resvStart}, 'YYYY-MM-DD HH24:MI:SS')
	  				, TO_DATE(#{resvEnd}, 'YYYY-MM-DD HH24:MI:SS')
	  			)
  			</if>
  		</insert>
  		
  		<update id="modResv">
  			UPDATE RESERVATION
  			SET
  			  RESV_START = TO_DATE(#{resvStart}, 'YYYY-MM-DD HH24:MI:SS')
  			, RESV_END = TO_DATE(#{resvEnd}, 'YYYY-MM-DD HH24:MI:SS')
  			, MOD_DATE = CURRENT_DATE
  			WHERE RESV_NO = #{resvNo}
  			AND RETURN_YN = 'N'
  		</update>
  		
  		<update id="deleteResv">
  			UPDATE RESERVATION
  			SET 
  			DELETE_YN = 'Y'
 			WHERE RESV_NO IN 
 			<foreach collection="array" item="n" open="(" close=")" separator=",">
 			#{n}</foreach>
  		</update>
  		
  		<update id="returnResv">
  			UPDATE RESERVATION
  			SET
  				  RETURN_YN = 'Y'
  				, RESV_END = CURRENT_DATE
 			WHERE RESV_NO IN
 			<foreach collection="array" item="n" open="(" close=")" separator=",">
				#{n} 
			</foreach>
  		</update>
  		
  		<select id="getResvCnt" resultType="int">
  			SELECT COUNT(*)
  			FROM RESERVATION
  			WHERE DELETE_YN = 'N'
  			AND USER_NO = #{userNo}
  		</select>
  		
  		
  </mapper>