<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="resv">
  
  		<select id="getRoomList" parameterType="map" resultType="room">
  			SELECT * FROM MEETING_ROOM
  		</select>
  		
  		<select id="getAssetList" parameterType="map" resultType="asset">
  			SELECT * FROM ASSET
  		</select>
  	
  </mapper>