<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="leave">
  
    <select id="getAlvList" resultType="lvList">
    	SELECT * FROM USAGE_LV UL
    	JOIN LEAVE L ON (UL.LV_CODE = L.LV_CODE)
    	WHERE UL.USER_NO = #{userNo} AND UL.LV_CODE LIKE 'ALV%'	AND UL.LV_END &lt; SYSDATE
    </select>
  
    <select id="getLvList" resultType="lvList">
    	SELECT * FROM USAGE_LV UL
    	JOIN LEAVE L ON (UL.LV_CODE = L.LV_CODE)
    	WHERE UL.USER_NO = #{userNo} AND UL.LV_CODE LIKE 'LV%' AND UL.LV_END &lt; SYSDATE
    </select>
  
    <select id="getAlvRowCnt" resultType="int">
    	SELECT COUNT(*) FROM USAGE_LV UL
    	JOIN LEAVE L ON (UL.LV_CODE = L.LV_CODE)
    	WHERE UL.USER_NO = #{userNo} AND UL.LV_CODE LIKE 'LV%' AND UL.LV_END &lt; SYSDATE
    </select>
  
    <select id="getLvTypeList" resultType="leave">
    	SELECT * FROM LEAVE
    	WHERE LV_CODE LIKE 'LV%'
    </select>
    
    <select id="checkExist" resultType="leave">
    	SELECT * FROM LEAVE
    	WHERE LV_CODE = #{lvCode}
    </select>
    
    <insert id="addLvType" parameterType="leave">
    	 INSERT INTO LEAVE
         VALUES
         (
         	#{lvCode},
         	#{lvName},
         	#{lvPaid},
         	0,
         	0,
         	#{lvContent}
         )
    </insert>
    
    <delete id="delLvType" parameterType="string">
    	DELETE LEAVE
    	WHERE LV_CODE = #{lvCode}
    </delete>
    
    <select id="getLvInfoList" resultType="lvInfo">
    	SELECT * FROM LV_BOARD
    	WHERE LVB_DEL = 'N'
    </select>
    
    
    
  </mapper>