<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="autoMappingBehavior" value="FULL"/>
		<setting name="cacheEnabled" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.iag.user.entity.UserDto" alias="user"/>
		<typeAlias type="com.kh.iag.leave.entity.LeaveDto" alias="leave"/>
		<typeAlias type="com.kh.iag.leave.entity.LvUsedListDto" alias="lvList"/>
		<typeAlias type="com.kh.iag.leave.entity.LvInfoDto" alias="lvInfo"/>
		<typeAlias type="com.kh.iag.attend.entity.AttendDTO" alias="attendance"/>
		<typeAlias type="com.kh.iag.sal.entity.SalaryDTO" alias="salary"/>
		<typeAlias type="com.kh.iag.ea.entity.DocsDto" alias="eadocs"/>
		<typeAlias type="com.kh.iag.chat.entity.ChatDto" alias="chat"/>
		<typeAlias type="com.kh.iag.ea.entity.FormDto" alias="eaform"/> 
	    <typeAlias type="com.kh.iag.prj.entity.PrjDto" alias="prj"/>
	    <typeAlias type="com.kh.iag.resv.entity.ResvDto" alias="resv"/>
	    <typeAlias type="com.kh.iag.sch.entity.schDto" alias="sch"/>
		<typeAlias type="com.kh.iag.board.entity.boardDto" alias="board"/>
	</typeAliases>
</configuration>