@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Nanum Gothic", sans-serif;
  /* font-family: 'Noto Sans KR', sans-serif; */
}
/* chatUsers */
#chatUsers {
  width: 100%;
  height: 100%;
  position: relative;
}
#chatUsers * {
  box-sizing: border-box;
}
#chatUsers > div:nth-child(1) {
  height: 33px;
}
#chatUsers > div:nth-child(1) > a {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 5px;
  border: 2px solid rgb(9, 137, 241);
  color: rgb(9, 137, 241);
  text-decoration: none;
}
#chatUsers > div:nth-child(1) > a:nth-child(1) {
  background: rgb(9, 137, 241);
  color: #fff;
  font-weight: 600;
}
.deptName {
  background: darkblue;
  color: #fff;
  font-weight: 600;
}
.deptName > pre {
  margin-bottom: 0;
}
.userName {
  font-size: 14px;
  padding: 5px;
  border-bottom: 1px solid gainsboro;
}
.userName label {
  cursor: pointer;
  border-bottom: 1px solid gainsboro;
}
.userName:hover {
  background: #0ca7f0;
  color: #fff;
  font-weight: 700;
}
.userName input {
  float: right;
}
.userName form {
  position: relative;
}
.userName input[type="submit"] {
  height: 25px;
  background: transparent;
  border: none;
  display: none;
  position: absolute;
  right: 0;
  bottom: -15%;
}
.userName label:hover input[type="submit"] {
  display: block;
}

/* chatList */
#chatList {
  width: 100%;
  height: 100%;
  position: relative;
}
#chatList * {
  box-sizing: border-box;
}
#chatList > div:nth-child(1) {
  height: 33px;
}
#chatList > div:nth-child(1) > a {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 5px;
  border: 2px solid rgb(9, 137, 241);
  color: rgb(9, 137, 241);
  text-decoration: none;
}
#chatList > div:nth-child(1) > a:nth-child(2) {
  background: rgb(9, 137, 241);
  color: #fff;
  font-weight: 600;
}

/* chatRoom */
#chatRoom {
  width: 100%;
  height: 100%;
  position: relative;
}
#chatRoom * {
  box-sizing: border-box;
}
#chatRoom > div:nth-child(1) {
  height: 33px;
}
#chatRoom > div:nth-child(1) > a {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 5px;
  border: 2px solid rgb(9, 137, 241);
  color: rgb(9, 137, 241);
  text-decoration: none;
}
#chatRoom > div:nth-child(2) {
  background: darkblue;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
/* chatList */
#chat textarea {
  margin: 5px;
  resize: none;
  float: left;
  width: 80%;
}
#chat button {
  margin: 10px;
  background: cornflowerblue;
  border-radius: 10px;
  border: 1px solid gainsboro;
  cursor: pointer;
}
#boxTable > ul {
  padding: 5px;
  margin: 0;
  transition: 0.3s;
}
#boxTable > ul:hover {
  background: darkblue;
  color: #fff;
  cursor: pointer;
}
#boxTable > ul > li {
  list-style: none;
}
#boxTable > ul > li > span {
  font-size: 13px;
  color: darkblue;
  padding: 5px;
  border-radius: 50%;
  float: right;
  font-weight: 800;
}
#boxTable > ul:hover > li > span {
  color: #fff;
}
