@charset "UTF-8";
.btn1{
    background-color: rgb(171, 184, 104);
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    border: none;
    cursor: pointer;
}
.btn1:hover{
    background-color: rgb(250, 174, 088);
    cursor: pointer;
}

body{
	width: 98%;
    height: 100%;
}

section {
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    
}

section span{
    font-size: 20px;
    font-weight:bold;
}