@charset "UTF-8";

.box {
    width: 200px;
    height: 200px; 
    border-radius: 70%;
    overflow: hidden;
    background-color: #BDBDBD;
    margin-left: 100px;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textspan{
	margin-left : 10px;
}