<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="login">
  
    <select id="getUserByNo" resultType="user">
    	SELECT IU.*, D.DEPARTMENT_NAME, P.POSITION_NAME FROM IAG_USER IU
    	LEFT OUTER JOIN DEPARTMENT D ON (IU.DEPARTMENT_NO = D.DEPARTMENT_NO)
    	LEFT OUTER JOIN POSITION P ON (IU.POSITION_NO = P.POSITION_NO)
    	WHERE USER_NO = #{userNo}
    </select>
    
    <update id="savedLoginCookie">
    	UPDATE IAG_USER SET
    	SESSIONKEY = #{sessionKey}, SESSIONLIMIT = #{sessionLimit}
    	WHERE USER_NO = #{userNo}
    </update>
    
    <select id="checkUserBySsKey" resultType="user">
    	SELECT IU.*, D.DEPARTMENT_NAME, P.POSITION_NAME FROM IAG_USER IU
    	LEFT OUTER JOIN DEPARTMENT D ON (IU.DEPARTMENT_NO = D.DEPARTMENT_NO)
    	LEFT OUTER JOIN POSITION P ON (IU.POSITION_NO = P.POSITION_NO)
    	WHERE SESSIONKEY = #{sessionKey} AND SESSIONLIMIT > SYSDATE
    </select>
    
    <update id="setChangePwd">
    	UPDATE IAG_USER SET
    	PWD = #{pwd}
    	WHERE USER_NO = #{userNo}
    </update>
    
  </mapper>