<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="prj">
  
	<select id="getPrjList" resultType="prj">
		SELECT * FROM PROJECT
		WHERE DEPART_NO = #{departNo}
	</select>  
  
  	<insert id="createPrj">
  		INSERT INTO PROJECT(
  			  PRJ_NO
  			, USER_NO
  			, PRJ_NAME
  			, DEPART_NO
  			, OPEN_YN
  			, ACTIVATE_YN
  			, PERIOD
  			, CREATE_DATE
  			, START_DATE
  			, END_DATE
  		)VALUES(
  			SEQ_PROJECT.NEXTVAL
  			, #{userNo}
  			, #{prjName}
  			, #{departNo}
  			, #{openYn}
  			, #{activateYn}
  			, #{period}
  			, CURRENT_DATE
  			, TO_DATE(#{startDate}, 'YYYY-MM-DD')
	  		, TO_DATE(#{endDate}, 'YYYY-MM-DD')
  		)
  	</insert>
  	
  	<select id="getUserNo" resultType="string">
  		SELECT USER_NO
  		FROM IAG_USER
  		WHERE NAME = #{name}
  	</select>
  	
  </mapper>