<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="prj">
  
  	<insert id="createPrj">
  		INSERT INTO PROJECT(
  			  PRJ_NO
  			, USER_NO
  			, PRJ_NAME
  			, DEPART_NO
  			, OPEN_YN
  			, ACTIVATE_YN
  			, PERIOD
  		)VALUES(
  			SEQ_PROJECT.NEXTVAL
  			, #{userNo}
  			, #{prjName}
  			, #{departNo}
  			, #{openYn}
  			, #{activateYn}
  			, #{period}
  		)
  	</insert>
  	
  </mapper>