<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="prj">
  
	<select id="getPrjList" resultType="prj">
		SELECT * FROM (
			SELECT ROWNUM RN, MY.*
			FROM(
			SELECT 
				  P.PRJ_NO
				, P.USER_NO
				, P.PRJ_NAME
				, P.OPEN_YN
				, P.ACTIVATE_YN
				, P.PERIOD
				, P.START_DATE
				, TO_CHAR(P.START_DATE, 'YYYY-MM-DD')
				, TO_CHAR(P.END_DATE, 'YYYY-MM-DD')
				, D.DEPARTMENT_NAME 
			FROM PROJECT P 
			JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = P.DEPART_NO)
			WHERE DEPART_NO = #{departNo}
			AND DELETE_YN = 'N'
			) MY
		) WHERE RN BETWEEN #{vo.startRow} AND #{vo.endRow}
	</select>  
  
  	<insert id="createPrj">
  		INSERT INTO PROJECT(
  			  PRJ_NO
  			, USER_NO
  			, PRJ_NAME
  			, DEPART_NO
  			, OPEN_YN
  			, ACTIVATE_YN
  			, PERIOD
  			, CREATE_DATE
  			, START_DATE
  			, END_DATE
  		)VALUES(
  			SEQ_PROJECT.NEXTVAL
  			, #{userNo}
  			, #{prjName}
  			, #{departNo}
  			, #{openYn}
  			, #{activateYn}
  			, #{period}
  			, CURRENT_DATE
  			, TO_DATE(#{startDate}, 'YYYY-MM-DD')
	  		, TO_DATE(#{endDate}, 'YYYY-MM-DD')
  		)
  	</insert>
  	
  	<select id="getMyPrjCnt" resultType="int">
  		SELECT COUNT(*)
  		FROM PROJECT
  		WHERE DEPART_NO = #{departNo}
  		AND DELETE_YN = 'N'
  	</select>
  	
  	<select id="getUserNo" resultType="string">
  		SELECT USER_NO
  		FROM IAG_USER
  		WHERE NAME = #{name}
  	</select>
  
  
  	<!-- 상세페이지 -->
  	<select id="viewPrj" resultType="prj">
		SELECT 
			  P.PRJ_NO
			, P.USER_NO
			, U.NAME
			, P.PRJ_NAME
			, P.OPEN_YN
			, P.ACTIVATE_YN
			, P.PERIOD
			, P.START_DATE
			, TO_CHAR(P.START_DATE, 'YYYY-MM-DD')
			, TO_CHAR(P.END_DATE, 'YYYY-MM-DD')
			, D.DEPARTMENT_NAME 
		FROM PROJECT P 
		JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = P.DEPART_NO)
		JOIN IAG_USER U ON (U.USER_NO = P.USER_NO)
		WHERE PRJ_NO = #{prjNo}
  	</select>
  	
  </mapper>