<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ps">
	<insert id="userEnroll">
		INSERT INTO 
		IAG_USER
		(
			USER_NO,
			PWD,
			NAME,
			RESIDENT_NO,
			PHONE,
			EMAIL,
			ADDRESS,
			ENROLL_DATE,
			ACTIVITY_YN,
			PROFILE,
			PERSONNEL_RIGHT,
			PAYMENT_RIGHT,
			LEAVE_RIGHT,
			RESERVATIONS_RIGHT,
			BOARD_RIGHT,
			ATTENDENCE_RIGHT,
			SALARY_RIGHT
			<if test="positionNo != 0">
				,POSITION_NO
			</if>
			<if test="departmentNo != 0">
				,DEPARTMENT_NO
			</if>
			<if test="jobNo != 0">
				,JOB_NO
			</if>
		)
		VALUES
		(
			#{userNo},
			#{pwd},
			#{name},
			#{residentNo},
			#{phone},
			#{email},
			#{address},
			#{enrollDate},
			#{activityYn},
			#{profile},
			#{personnelRight},
			#{paymentRight},
			#{leaveRight},
			#{reservationsRight},
			#{boardRight},
			#{attendenceRight},
			#{salaryRight}
			<if test="positionNo != 0">
				, #{positionNo}
			</if>
			<if test="departmentNo != 0">
				, #{departmentNo}
			</if>
			<if test="jobNo != 0">
				, #{jobNo}
			</if>
		)
	</insert>
	
	<insert id="addDept">
		INSERT INTO 
		DEPARTMENT
		(
			DEPARTMENT_NO,
			DEPARTMENT_NAME
			<if test="topDepartment != 0">
				, TOP_DEPARTMENT
			</if>
			
		)
		VALUES
		(
			SEQ_DEPARTMENT.NEXTVAL,
			#{departmentName}
			<if test="topDepartment != 0">
				, #{topDepartment}
			</if>
		)
	</insert>
	
	<select id="position" resultType="posi">
		SELECT * FROM POSITION
	</select>
	
	<select id="job" resultType="job">
		SELECT * FROM JOB ORDER BY JOB_NO
	</select>
	
	<select id="department" resultType="dept">
		SELECT * FROM DEPARTMENT
	</select>
	
	<select id="deptCnt" resultType="_int">
		SELECT COUNT(DEPARTMENT_NO)
		FROM DEPARTMENT
	</select>
	
	<select id="jobCnt" resultType="_int">
		SELECT COUNT(JOB_NO)
		FROM JOB
	</select>
	
	<select id="posiCnt" resultType="_int">
		SELECT COUNT(POSITION_NO)
		FROM POSITION
	</select>
	
	<select id="userCnt" resultType="_int">
		SELECT COUNT(USER_NO)
		FROM IAG_USER
	</select>
	
	<select id="getUserCnt" resultType="_int">
		SELECT COUNT(USER_NO)
		FROM IAG_USER
		<if test="search != null and search !=''">
			WHERE USER_NO LIKE '%'|| #{search}||'%' OR TRIM(REPLACE(PHONE,'-','')) LIKE '%'||#{search}||'%' OR NAME LIKE '%'||#{search}||'%'
		</if>
	</select>
	
	<select id="dupCheck" resultType="_int">
		SELECT COUNT(USER_NO)
		FROM IAG_USER
		WHERE USER_NO = #{userNo}
	</select>
	
	<select id="getUserList" parameterType="userDto" resultType="userDto">
		SELECT * FROM(
			SELECT ROWNUM RN, A.* 
			FROM
			(
				SELECT * 
				FROM IAG_USER U
				LEFT OUTER JOIN POSITION P ON (U.POSITION_NO = P.POSITION_NO)
                LEFT OUTER JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = U.DEPARTMENT_NO)
                LEFT OUTER JOIN JOB J ON (J.JOB_NO = U.JOB_NO)
				
				<if test="search != null and search !=''">
				   WHERE (U.USER_NO LIKE '%'|| #{search}||'%' OR TRIM(REPLACE(U.PHONE,'-','')) LIKE '%'||#{search}||'%' OR U.NAME LIKE '%'||#{search}||'%'
				</if>
				ORDER BY U.ENROLL_DATE
			) A
		) WHERE RN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="userList" parameterType="userDto" resultType="userDto">
		SELECT * 
		FROM IAG_USER U
		LEFT OUTER JOIN POSITION P ON (U.POSITION_NO = P.POSITION_NO)
        LEFT OUTER JOIN DEPARTMENT D ON (D.DEPARTMENT_NO = U.DEPARTMENT_NO)
        LEFT OUTER JOIN JOB J ON (J.JOB_NO = U.JOB_NO) 
        WHERE END_DATE IS NULL
	</select>
	
	<select id="deptManageList" resultType="dept">
		SELECT 
		LEVEL, 
		CONNECT_BY_ROOT DEPARTMENT_NO AS "ROOT_DEPARTMENT", 
		CONNECT_BY_ISLEAF AS "LEAF", 
		DEPARTMENT_NO, 
		DEPARTMENT_NAME, 
		TOP_DEPARTMENT 
		FROM DEPARTMENT 
		START WITH TOP_DEPARTMENT IS NULL CONNECT BY PRIOR DEPARTMENT_NO = TOP_DEPARTMENT 
		ORDER BY LEVEL, DEPARTMENT_NO
	</select>
	
	<update id="updateUser">
		UPDATE IAG_USER SET
		NAME = #{name},
		RESIDENT_NO = #{residentNo},
		PHONE = #{phone},
		EMAIL = #{email},
		ADDRESS = #{address},
		ENROLL_DATE = #{enrollDate},
		ACTIVITY_YN = #{activityYn},
		PERSONNEL_RIGHT = #{personnelRight},
		PAYMENT_RIGHT = #{paymentRight},
		LEAVE_RIGHT = #{leaveRight},
		RESERVATIONS_RIGHT = #{reservationsRight},
		BOARD_RIGHT = #{boardRight},
		ATTENDENCE_RIGHT = #{attendenceRight},
		SALARY_RIGHT = #{salaryRight}
		<if test="profile != null">
			,PROFILE = #{profile}
		</if>
		<if test="endDate != null">
			,END_DATE = #{endDate}
		</if>
		<if test="pwd != null">
			,PWD = #{pwd}
		</if>
		<if test="positionNo != 0">
			,POSITION_NO = #{positionNo}
		</if>
		<if test="departmentNo != 0">
			,DEPARTMENT_NO = #{departmentNo}
		</if>
		<if test="jobNo != 0">
			,JOB_NO = #{jobNo}
		</if>
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="deptNameModi">
		UPDATE DEPARTMENT 
		SET 
		DEPARTMENT_NAME = #{departmentName} 
		WHERE 
		DEPARTMENT_NO = #{departmentNo}
	</update>
	
	<update id="deptTopModi">
		UPDATE DEPARTMENT 
		SET 
		<if test="topDepartment != 0">
			TOP_DEPARTMENT = #{topDepartment}
		</if>
		<if test="topDepartment == 0">
			TOP_DEPARTMENT = NULL
		</if>
		WHERE 
		DEPARTMENT_NO = #{departmentNo}
	</update>
	
	<delete id="deleteJob">
		DELETE FROM JOB
		WHERE JOB_NO = #{jobNo}
	</delete>
	
	<delete id="deletePosi">
		DELETE FROM POSITION
		WHERE POSITION_NO = #{posiNo}
	</delete>
	
	<delete id="deptDelete">
		DELETE FROM DEPARTMENT 
		WHERE DEPARTMENT_NO = #{departmentNo}
	</delete>
	
	<insert id="addJob">
		INSERT INTO JOB VALUES(SEQ_JOB.NEXTVAL,#{jobName})
	</insert>
	
	<insert id="addPosi">
		INSERT INTO POSITION VALUES(SEQ_POSITION.NEXTVAL,#{positionName},#{positionLevel})
	</insert>
	
	<update id="modiPosi">
		UPDATE POSITION SET 
		POSITION_NAME = #{positionName}
		WHERE POSITION_NO = #{positionNo}
	</update>
	
	<update id="modiJob">
		UPDATE JOB SET 
		JOB_NAME = #{jobName}
		WHERE JOB_NO = #{jobNo}
	</update>
	
</mapper>