@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.ea_wrapper {
  width: 100%;
  height: 85%;
  position: relative;
  overflow: scroll;
}
.ea_wrapper * {
  box-sizing: border-box;
}

#thirdDiv table {
  width: 98%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
