<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ea">
<!-- 관리자 -->
	<!-- 초기설정 확인 및 기본설정 데이터 확인 -->
	<select id="defaultSettings" resultType="com.kh.iag.ea.entity.SettingsDto">
		SELECT A.SEC_MIN SECMINA,
				B.SEC_MIN SECMINB,
				F.FORMAT_YEAR,
				F.FORMAT_DEPT,
				F.FORMAT_FORM
		FROM EA_SEC_A A, EA_SEC_B B, EA_FORMAT F
	</select>
	
	<!-- 문서 초기 설정 업데이트 -->
	<insert id="insertInitialSettings1" parameterType="com.kh.iag.ea.entity.SettingsDto">
		INSERT INTO EA_SEC_A (SEC_GRADE, SEC_MIN) VALUES (DEFAULT, ${secMinA})
	</insert>
	<insert id="insertInitialSettings2" parameterType="com.kh.iag.ea.entity.SettingsDto">
		INSERT INTO EA_SEC_B (SEC_GRADE, SEC_MIN) VALUES (DEFAULT, ${secMinB})
	</insert>
	<insert id="insertInitialSettings3" parameterType="com.kh.iag.ea.entity.SettingsDto">
		INSERT INTO EA_FORMAT (FORMAT_NO, FORMAT_YEAR, FORMAT_DEPT, FORMAT_FORM) VALUES (1, #{formatYear}, #{formatDept}, #{formatForm})
	</insert>
	
	<!-- 직위 데이터 -->
	<select id="positionValues" resultType="com.kh.iag.ea.entity.PositionDto">
		SELECT * FROM POSITION ORDER BY POSITION_LEVEL
	</select>
	
	<!-- 문서 설정 업데이트 -->
	<update id="updateSettings1" parameterType="com.kh.iag.ea.entity.SettingsDto">
		UPDATE EA_SEC_A SET SEC_MIN = ${secMinA} WHERE SEC_GRADE = 'A'
	</update>
	<update id="updateSettings2" parameterType="com.kh.iag.ea.entity.SettingsDto">
		UPDATE EA_SEC_B SET SEC_MIN = ${secMinB} WHERE SEC_GRADE = 'B'
	</update>
	<update id="updateSettings3" parameterType="com.kh.iag.ea.entity.SettingsDto">
		UPDATE EA_FORMAT SET FORMAT_YEAR = #{formatYear}, FORMAT_DEPT = #{formatDept}, FORMAT_FORM = #{formatForm} WHERE FORMAT_NO = 1
	</update>
	
	<!--카테고리 데이터 -->
	<select id="categoryValues" resultType="com.kh.iag.ea.entity.CategoryDto">
		SELECT * FROM EA_CATEGORY ORDER BY CATEGORY_NO
	</select>
	
	<!-- 양식 데이터 -->
	<select id="formValues" resultType="eaform">
		SELECT * 
		FROM EA_FORM F 
		JOIN EA_CATEGORY C ON(F.CATEGORY_NO = C.CATEGORY_NO)
	</select>
	
	<!-- 양식관리 카테고리 추가 -->
	<insert id="insertFormCategory">
		INSERT INTO EA_CATEGORY
		(CATEGORY_NO, CATEGORY_NAME)
		VALUES
		(SEQ_EA_CATEGORY_NO.NEXTVAL, '새로운 카테고리')
	</insert>
	
	<!-- 새로 추가한 카테고리 정보 가져오기 -->
	<select id="selectLatestFormCategory" resultType="com.kh.iag.ea.entity.CategoryDto">
		SELECT * FROM (SELECT ROWNUM AS RNUM, c.* FROM (SELECT * FROM EA_CATEGORY ORDER BY CATEGORY_NO DESC) c) WHERE RNUM = 1
	</select>
	
	<!-- 카테고리 삭제 -->
	<delete id="deleteFormCategory" parameterType="string">
		DELETE FROM EA_CATEGORY WHERE CATEGORY_NO = ${categoryNo}
	</delete>
	
	<!-- 양식관리 양식 추가  -->
	<insert id="insertForm" parameterType="string">
		INSERT INTO EA_FORM 
		(
			FORM_NO
			, FORM_TITLE
			, FORM_CONTENT
			, FORM_YEARS
			, CATEGORY_NO
		)
		VALUES 
		(
			SEQ_EA_FORM_NO.NEXTVAL
			, '새로운 양식'
			, '&lt;h1 style="text-align:center"&gt;새로운 양식&lt;/h1&gt;'
			, 1
			, ${categoryNo}
		)
	</insert>
	
	<!-- 새로 추가한 양식 정보 가져오기 -->
	<select id="selecLatestForm" resultType="eaform" >
		SELECT * FROM (SELECT ROWNUM AS RNUM, f.* FROM (SELECT * FROM EA_FORM ORDER BY FORM_NO DESC) f) WHERE RNUM = 1
	</select>
	
	<!-- 양식 삭제 -->
	<delete id="deleteForm" parameterType="string">
		DELETE FROM EA_FORM WHERE FORM_NO = ${formNo}
	</delete>
	
	<!-- 양식 카테고리 이름 변경 -->
	<update id="updateCategoryName" parameterType="com.kh.iag.ea.entity.CategoryDto">
		UPDATE EA_CATEGORY SET CATEGORY_NAME = #{categoryName} WHERE CATEGORY_NO = ${categoryNo}
	</update>
	
	<!-- 양식 이름 변경 -->
	<update id="updateFormName" parameterType="eaform">
		UPDATE EA_FORM SET FORM_TITLE = #{formTitle} WHERE FORM_NO = ${formNo}
	</update>
	
	<!-- 양식 수정 페이지 선택 양식 default 데이터 -->
	<select id="formValue" parameterType="eaform" resultType="eaform">
		SELECT * FROM EA_FORM WHERE FORM_NO = ${formNo}
	</select>
	
	<!-- 양식 수정 -->
	<update id="editForm" parameterType="eaform">
		UPDATE EA_FORM 
		SET
		    FORM_TITLE = #{formTitle},
		    FORM_CONTENT = #{formContent},
		    FORM_YEARS = ${formYears},
		    CATEGORY_NO = ${categoryNo}
		WHERE FORM_NO = ${formNo}
	</update>
<!-- 사용자 -->
	<!-- 기안 작성 페이지 양식 데이터 -->
	<select id="signupFormValue" parameterType="eaform" resultType="eaform">
		SELECT * FROM EA_FORM WHERE FORM_NO = ${formNo}
	</select>
	
	<!-- 기안 작성 페이지 부서 데이터 -->
	<select id="deptValues" resultType="com.kh.iag.ea.entity.DeptDto">
		SELECT DEPARTMENT_NO, DEPARTMENT_NAME FROM DEPARTMENT
	</select>
	
	<!-- 기안 작성 페이지 사원 데이터 -->
	<select id="userValues" parameterType="string" resultType="com.kh.iag.ea.entity.EAUserDto">
		SELECT A.USER_NO, A.NAME, A.DEPARTMENT_NO, A.DEPARTMENT_NAME, P.POSITION_NO, P.POSITION_NAME, P.POSITION_LEVEL 
		FROM
		(
		    SELECT U.USER_NO, U.NAME, D.DEPARTMENT_NO, D.DEPARTMENT_NAME, U.POSITION_NO
		    FROM IAG_USER U 
		    JOIN DEPARTMENT D ON(U.DEPARTMENT_NO = D.DEPARTMENT_NO)
		    WHERE ACTIVITY_YN = 'Y' AND USER_NO != #{userNo}
		) A 
		JOIN POSITION P ON(A.POSITION_NO = P.POSITION_NO)
		ORDER BY P.POSITION_LEVEL
	</select>
</mapper>