<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="board">

	<select id="getFreeBoardList" parameterType="com.kh.iag.board.entity.PageVo" resultType="freeBoard">
	SELECT * FROM	
		(
			SELECT ROWNUM RN, B.* 
			FROM
			(
				SELECT * FROM BOARD_FREE
				WHERE FREE_DEL = 'N'
				ORDER BY FREE_DATE DESC
			) B
		) WHERE RN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="getFreeRowCnt" resultType="int">
    	SELECT COUNT(*)
    	FROM BOARD_FREE
    	WHERE FREE_DEL = 'N'
	</select>
  
  	<insert id="freeEnroll" parameterType = "freeBoard" >
  		INSERT INTO BOARD_FREE
  		VALUES
  		(
  			SEQ_BOARD_FREE.NEXTVAL,
  			#{userNo},
  			#{freeTitle},
  			#{freeContent},
  			DEFAULT,
  			DEFAULT,
  			DEFAULT
  		)
  	</insert>
    
    <select id="getThisBoardFreeNum" parameterType="hashmap" resultType="int">
    	SELECT BOARD_FREE_NUM FROM BOARD_FREE
    	WHERE USER_NO = #{userNo} AND FREE_TITLE = #{freeTitle} AND FREE_DEL = 'N'
    </select>
    
    <select id="getFreeBoardDetail" resultType="freeBoard">
    	SELECT * FROM BOARD_FREE
    	WHERE BOARD_FREE_NUM = #{boardFreeNum} AND FREE_DEL = 'N'
    </select>
    
    <update id="updateFreeUpdate" parameterType="freeBoard">
    	UPDATE BOARD_FREE SET
    	FREE_TITLE = #{freeTitle},
    	FREE_CONTENT = #{freeContent},
    	FREE_DATE = SYSDATE
    	WHERE BOARD_FREE_NUM = #{boardFreeNum}
    </update>
    
    <update id="freeDelete" parameterType="freeBoard">
    	UPDATE BOARD_FREE SET
    	FREE_DEL = 'Y'
    	WHERE BOARD_FREE_NUM = #{boardFreeNum}
    </update>
    
    <update id="plusFreeViewCount" parameterType="int">
    	UPDATE BOARD_FREE SET
    	FREE_VIEW_COUNT = FREE_VIEW_COUNT + 1
    	WHERE BOARD_FREE_NUM = #{boardFreeNum}
    </update>
    
    <select id="getMainFreeBoardList" resultType="freeBoard">
    SELECT * FROM	
		(
			SELECT ROWNUM RN, B.* 
			FROM
			(
				SELECT * FROM BOARD_FREE
				WHERE FREE_DEL = 'N'
				ORDER BY FREE_DATE DESC
			) B
		) WHERE RN &lt; 5
    </select>
<!-- //////////////////////////////////////////////////////////////////// -->

	<select id="getNoticeBoardList" parameterType="com.kh.iag.board.entity.PageVo" resultType="noticeBoard">
	SELECT * FROM	
		(
			SELECT ROWNUM RN, B.* 
			FROM
			(
				SELECT * FROM BOARD_NOTICE
				WHERE NOTICE_DEL = 'N'
				ORDER BY NOTICE_DATE DESC
			) B
		) WHERE RN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="getNoticeRowCnt" resultType="int">
    	SELECT COUNT(*)
    	FROM BOARD_NOTICE
    	WHERE NOTICE_DEL = 'N'
	</select>

	<update id="plusNoticeViewCount" parameterType="int">
		UPDATE BOARD_NOTICE SET
		NOTICE_VIEW_COUNT = NOTICE_VIEW_COUNT + 1
		WHERE NOTICE_NUM = #{noticeNum}
	</update>

	<select id="getNoticeBoardDetail" resultType="noticeBoard">
		SELECT * FROM BOARD_NOTICE
		WHERE NOTICE_NUM = #{noticeNum}
		AND NOTICE_DEL = 'N'
	</select>

	<insert id="noticeEnroll" parameterType="noticeBoard">
  		INSERT INTO BOARD_NOTICE
  		VALUES
  		(
  			SEQ_BOARD_NOTICE.NEXTVAL,
  			#{userNo},
  			DEFAULT,
  			#{noticeTitle},
  			#{noticeContent},
  			DEFAULT,
  			DEFAULT,
  			DEFAULT
  		)
	</insert>

	<select id="getThisBoardNoticeNum" parameterType="hashmap" resultType="int">
		SELECT NOTICE_NUM FROM BOARD_NOTICE
		WHERE NOTICE_TITLE = #{noticeTitle}
		AND USER_NO = #{userNo} AND NOTICE_DEL = 'N'
	</select>

	<update id="updateNoticeUpdate" parameterType="noticeBoard">
    	UPDATE BOARD_NOTICE SET
    	NOTICE_TITLE = #{noticeTitle},
    	NOTICE_CONTENT = #{noticeContent},
    	NOTICE_DATE = SYSDATE
    	WHERE NOTICE_NUM = #{noticeNum}
	</update>

	<update id="noticeDelete" parameterType="int">
    	UPDATE BOARD_NOTICE SET
    	NOTICE_DEL = 'Y'
    	WHERE NOTICE_NUM = #{noticeNum}
	</update>

	<select id="getMainNoticeBoardList" resultType="noticeBoard">
    SELECT * FROM	
		(
			SELECT ROWNUM RN, B.* 
			FROM
			(
				SELECT * FROM BOARD_NOTICE
				WHERE NOTICE_DEL = 'N'
				ORDER BY NOTICE_DATE DESC
			) B
		) WHERE RN &lt; 5
	</select>

















  </mapper>