@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.ea_wrapper {
  width: 100%;
  height: 85%;
  position: relative;
  overflow: scroll;
}
.ea_wrapper * {
  box-sizing: border-box;
}
/* 전자결재 > 기안문서조회 (리스트) */
.ea_signuplist_wrapper {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.ea_signuplist_title {
  height: 65px;
  width: 100%;
  position: relative;
}
.ea_signuplist_title > span {
  background: #4081e4;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
}
.ea_signuplist_list_contents {
  width: 100%;
  border: 3px solid gainsboro;
  border-radius: 10px;
  border-top-left-radius: 0;
  position: relative;
  float: left;
}
.ea_signuplist_list_contents > table {
  width: 98%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid gainsboro;
}
.ea_signuplist_list_contents > table > thead > tr {
  height: 40px;
  color: #fff;
  background: #0343a3;
}
.ea_signuplist_list_contents > table > thead > tr > th:nth-child(1) {
  width: 20%;
}
.ea_signuplist_list_contents > table > thead > tr > th:nth-child(2) {
  width: 10%;
}
.ea_signuplist_list_contents > table > thead > tr > th:nth-child(4) {
  width: 10%;
}
.ea_signuplist_list_contents > table > thead > tr > th:nth-child(5) {
  width: 10%;
}
.ea_signuplist_list_contents > table > thead > tr > th:nth-child(6) {
  width: 10%;
}
.ea_signuplist_list_contents > table > tbody > tr {
  height: 30px;
  font-size: 12px;
}
.ea_signuplist_list_contents > table > tbody > tr > td {
  border-bottom: 1px solid gainsboro;
}
.ea_signuplist_list_contents > table > tbody > tr:hover {
  background: #89b0eb;
  color: #fff;
}
.ea_signuplist_list_contents > table > thead > tr > th {
  position: relative;
}
.ea_signuplist_list_contents > table > thead > tr > th > span {
  cursor: pointer;
}
.ea_signuplist_list_contents > table > thead > tr > th > ul {
  display: none;
  position: absolute;
  color: #262626;
  background: #fff;
  width: 100%;
  top: 100%;
}
.ea_signuplist_list_contents > table > thead > tr > th > ul > li {
  font-size: 14px;
  padding: 5px;
  font-weight: lighter;
  background: aliceblue;
  border: 1px solid gainsboro;
}
.ea_signuplist_list_contents > table > thead > tr > th > ul > li > a {
  display: block;
}
.ea_signuplist_list_contents > table > thead > tr > th > ul > li > a:hover {
  color: #fff;
  background: #89b0eb;
}
.ea_signuplist_list_contents > table > thead > tr > th > ul.active {
  display: block;
}
.ea_signuplist_list_contents > table > tbody {
  background: #fff;
}
#pagingBtn {
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}
#pagingBtn > ul {
  display: flex;
  justify-content: center;
}
#pagingBtn > ul > li {
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  background: #fff;
  color: #4081e4;
  float: left;
  border: 1px solid gainsboro;
}
/* 전자결재 > 기안문서조회 (상세조회) */
.ea_signuplist_detail_contents {
  width: 100%;
  border: 3px solid gainsboro;
  border-radius: 10px;
  border-top-left-radius: 0;
  position: relative;
  float: left;
}
#pagingBtn > ul > li:hover {
  background: #4081e4;
  color: #fff;
  transition: 0s;
}
.ea_signuplist_detail_contents > div:nth-child(1) > table > * > * > * {
  border: 1px solid #262626;
  background: #fff;
  padding: 3px;
  text-align: center;
  overflow: hidden;
}
.ea_signuplist_detail_contents > div:nth-child(1) > table {
  float: left;
  margin: 20px;
  width: 300px;
}
.ea_signuplist_detail_contents > div:nth-child(1) > table th {
  background: gray;
}
.ea_signuplist_detail_contents > div:nth-child(2) > table {
  float: right;
  margin: 20px;
  height: 100px;
  text-align: center;
}
.ea_signuplist_detail_contents > div:nth-child(2) > table > * > * > * {
  border: 1px solid #262626;
  background: #fff;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.ea_signuplist_detail_contents > div:nth-child(2) th {
  background: gray;
}
.ea_signuplist_detail_contents > div:nth-child(3) {
  float: left;
  width: 100%;
  height: 500px;
  background: #fff;
  border-top: 1px solid gainsboro;
  padding: 20px;
  overflow: scroll;
}
.ea_signuplist_detail_contents > div:nth-child(4) {
  float: right;
  margin: 20px;
  padding: 8px;
  background: #4081e4;
  color: #fff;
  border-radius: 5px;
}
/* 전자결재 > 기안문서조회 (반려문서 수정) */
.ea_signuplist_wrapper_rejected {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ea_signuplist_rejected_contents {
  width: 100%;
  border: 3px solid gainsboro;
  border-radius: 10px;
  border-top-left-radius: 0;
  position: relative;
  float: left;
}
.ea_signuplist_rejected_contents > form > div:nth-child(1) > table {
  font-style: italic;
  float: left;
  margin: 20px;
}
.ea_signuplist_rejected_contents > form > div:nth-child(1) input {
  background: #fff;
}
.ea_signuplist_rejected_contents > form > div:nth-child(2) > table {
  float: right;
  margin: 20px;
  width: 300px;
  height: 100px;
  text-align: center;
}
.ea_signuplist_rejected_contents > form > div:nth-child(2) > table > * > * > * {
  border: 1px solid #262626;
  background: #fff;
}
.ea_signuplist_rejected_contents > form > div:nth-child(2) th {
  background: gray;
}
.ea_signuplist_rejected_contents > form > div:nth-child(3) {
  float: left;
  width: 100%;
  background: #fff;
  border-top: 1px solid gainsboro;
}
.ea_signuplist_rejected_contents > form > div:nth-child(4) a {
  float: right;
  margin: 20px;
  margin-left: 0;
  padding: 8px;
  background: #4081e4;
  color: #fff;
  border-radius: 5px;
}
span[id^="stamp"] {
  font-size: 12px;
  color: #fff;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50%;
  font-weight: bold;
  text-shadow: 1px 1px 1px #262626;
}
#stamp1 {
  background: #31ac0b;
}
#stamp2 {
  background: #d403e7;
  animation: stamp2 6s infinite linear;
}
#stamp3 {
  background: #e00909;
  animation: stamp3 6s infinite linear;
}
#stamp4 {
  background: #110ec5;
  animation: stamp4 6s infinite linear;
}
#waitApprv {
  font-size: 13px;
  border: 2px solid #262626;
  padding: 2px;
  text-shadow: 0.5px 0.5px 0.5px gray;
}
@keyframes stamp2 {
  0% {
    background: rgb(255, 0, 0);
  }
  30% {
    background: rgb(0, 255, 0);
  }
  80% {
    background: rgb(0, 0, 255);
  }
}
