@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

.ea_wrapper {
  width: 100%;
  height: 85%;
  position: relative;
  overflow: scroll;
}
.ea_wrapper * {
  box-sizing: border-box;
}
/* 전자결재 > 기안신청(양식선택) */
.ea_signup_formselect_wrapper {
  width: 90%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ea_signup_formselect_title {
  height: 10%;
  width: 100%;
  position: relative;
}
.ea_signup_formselect_title > span {
  background: #4081e4;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
}
.ea_signup_formselect_contents {
  height: 80%;
  width: 100%;
  border: 3px solid gainsboro;
  border-radius: 10px;
  border-top-left-radius: 0;
  position: relative;
}
.ea_signup_formselect_contents > form > div:nth-child(1),
.ea_signup_formselect_contents > form > div:nth-child(2),
.ea_signup_formselect_contents > form > div:nth-child(3) {
  width: 30%;
  float: left;
  padding: 20px;
}
.ea_signup_formselect_contents > form > div:nth-child(1) > div > span,
.ea_signup_formselect_contents > form > div:nth-child(2) > div > span,
.ea_signup_formselect_contents > form > div:nth-child(3) > div > span {
  font-size: 20px;
  font-weight: 700;
}
.ea_signup_formselect_contents > form > div:nth-child(1) > select,
.ea_signup_formselect_contents > form > div:nth-child(2) > select {
  width: 70%;
}
.ea_signup_formselect_contents > form > div:nth-child(3) {
  width: 40%;
}
.ea_signup_formselect_contents > form > div:nth-child(3) > article {
  width: 90%;
  height: 332px;
  background: #fff;
  border: 1px solid #262626;
  overflow: scroll;
}
.ea_signup_formselect_contents_btn input {
  position: absolute;
  background: #4081e4;
  color: #fff;
  bottom: 0;
  right: 0;
  margin: 20px;
}
#arrow1,
#arrow2 {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-30%, -75%);
  font-size: 50px;
  font-weight: 900;
}
#arrow2 {
  left: 55%;
}
/* 전자결재 > 기안신청(기안작성) */
.ea_signup_write_wrapper {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ea_signup_write_title {
  height: 65px;
  width: 100%;
  position: relative;
}
.ea_signup_write_title > span {
  background: #4081e4;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
}
.ea_signup_write_contents {
  width: 100%;
  border: 3px solid gainsboro;
  border-radius: 10px;
  border-top-left-radius: 0;
  position: relative;
  float: left;
}
.ea_signup_write_contents > form > ul > li > a {
  display: block;
  padding: 10px;
  padding-top: 25px;
  font-weight: 600;
  font-size: 15px;
}
.ea_signup_write_contents > form > ul > li > a > label {
  float: right;
}
.ea_signup_write_contents > form > ul > li > a > span:nth-child(1) {
  border: 1px solid #4081e4;
  background: #fff;
  color: #4081e4;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 5px;
  font-weight: 600;
  cursor: pointer;
}
.ea_signup_write_contents > form > ul > li > a > span:nth-child(2) {
  background: #4081e4;
  color: #fff;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
  font-weight: 600;
  cursor: pointer;
}
.ea_signup_write_contents input {
  background: #fff;
}
.ea_signup_write_contents > form > ul > li > input,
.ea_signup_write_contents > form > ul > li > select {
  margin: 5px;
}
.ea_signup_write_contents > form > a,
.ea_signup_write_contents > form > input {
  margin: 10px;
  background: #4081e4;
  color: #fff;
  float: right;
}
#approverLayer {
  display: none;
  width: 200px;
  background: #fff;
  border: 1px solid #4081e4;
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#approverLayer > div:last-child {
  padding: 10px;
  text-align: right;
}
#approverLayer > div:first-child {
  background: #064db8;
  color: #fff;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  font-weight: 600;
}
#approverLayer > div:nth-child(2) {
  padding: 10px;
  height: 300px;
  overflow: scroll;
}
#approverLayer > div:nth-child(2) > .deptName {
  text-align: center;
  background: #4081e4;
  color: #fff;
  margin: 3px;
  border-radius: 5px;
}
#approverLayer > div:nth-child(2) label {
  border-bottom: 1px solid gainsboro;
  margin: 3px;
}
#approverLayer a {
  color: #fff;
  background: #4081e4;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
#referLayer {
  display: none;
  width: 200px;
  background: #fff;
  border: 1px solid #4081e4;
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#referLayer > div:last-child {
  padding: 10px;
  text-align: right;
}
#referLayer > div:first-child {
  background: #064db8;
  color: #fff;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  font-weight: 600;
}
#referLayer > div:nth-child(2) {
  padding: 10px;
  height: 300px;
  overflow: scroll;
}
#referLayer > div:nth-child(2) > .deptName {
  text-align: center;
  background: #4081e4;
  color: #fff;
  margin: 3px;
  border-radius: 5px;
}
#referLayer > div:nth-child(2) label {
  border-bottom: 1px solid gainsboro;
  margin: 3px;
}
#referLayer a {
  color: #fff;
  background: #4081e4;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
#layer_bg {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
#selectAprrover {
  width: 15px;
  height: 15px;
  margin: 0;
  padding-top: 3px;
}
#refer {
  resize: none;
  margin: 5px;
  font-size: 13px;
}
/* 기능구현 */
select[name="formNo"] > option {
  display: none;
}
select[name="formNo"] > option.activeForm {
  display: block;
}
#formContents > div {
  display: none;
}
#formContents > div.activeContent {
  display: block;
}
