<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="chat">

	<select id="selectChatListById" parameterType="chat" resultType="chat">
		SELECT * FROM CHAT
		WHERE ((FROM_ID = #{fromId} AND TO_ID = #{toId}) OR (FROM_ID = #{toId} AND TO_ID = #{fromId})) 
		  AND CHAT_ID > #{chatId}
	  	ORDER BY CHATTIME
	</select>
	
	<select id="selectChatListByRecent" parameterType="chat" resultType="chat">
		SELECT * FROM CHAT
		WHERE ((FROM_ID = #{fromId} AND TO_ID = #{toId}) OR (FROM_ID = #{toId} AND TO_ID = #{fromId})) 
		  AND CHAT_ID > (SELECT MAX(CHAT_ID) - #{number} FROM CHAT WHERE (FROM_ID = #{fromId} AND TO_ID = #{toId}) OR (FROM_ID = #{toId} AND TO_ID = #{fromId}))
	  	ORDER BY CHATTIME
	</select>
	
	<insert id="insertChatContent" parameterType="chat">
		INSERT INTO CHAT
		VALUES (SEQ_CHAT_NO.NEXTVAL, #{fromId}, #{toId}, #{chatContent}, SYSDATE, DEFAULT)
	</insert>
	
	<update id="updateChatRead" parameterType="chat">
		UPDATE CHAT SET CHATREAD = 1
		WHERE (FROM_ID = #{toId} AND TO_ID = #{fromId})
	</update>
	
	<select id="selectChatUnreaded" parameterType="string" resultType="int">
		SELECT COUNT(CHAT_ID) FROM CHAT
		WHERE TO_ID = #{userNo} AND CHATREAD = 0
	</select>

	
	<select id="selectChatListBox" parameterType="string" resultType="chat">
		SELECT * FROM CHAT
		WHERE CHAT_ID 
		   IN (
				SELECT MAX(CHAT_ID) 
				FROM CHAT 
				WHERE TO_ID = #{userNo} OR FROM_ID = #{userNo} 
				GROUP BY FROM_ID, TO_ID
			  )
		  ORDER BY CHATREAD, CHATTIME DESC
	</select>
	
	<select id="getUserValue" parameterType="string" resultType="chat">
		SELECT *
		FROM
		(
			SELECT *
			FROM IAG_USER
			WHERE USER_NO = #{toId}
		) U
		JOIN DEPARTMENT D ON(U.DEPARTMENT_NO = D.DEPARTMENT_NO)
		JOIN POSITION P ON(U.POSITION_NO = P.POSITION_NO)
	</select>
	
	<select id="selectChatUnreadedEsp" parameterType="chat" resultType="string">
		SELECT COUNT(CHAT_ID) FROM CHAT
		WHERE FROM_ID = #{fromId} AND TO_ID = #{toId} AND CHATREAD = 0
	</select>
	
	<select id="selectuserList" resultType="user">
		SELECT U.USER_NO, U.NAME, D.DEPARTMENT_NAME, P.POSITION_NAME
		FROM IAG_USER U
		JOIN DEPARTMENT D ON(U.DEPARTMENT_NO = D.DEPARTMENT_NO)
		JOIN POSITION P ON(U.POSITION_NO = P.POSITION_NO)
	</select>
</mapper>